---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Josh Borseth</title>
	</head>
	<body class="h-screen w-screen flex flex-col gap-2 justify-center items-center">
		<h1 class="text-7xl font-bold">Josh Borseth</h1>
		<p>just want a place holder for the domain lol</p>
	</body>
</html>


