---
import { ViewTransitions, fade } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Josh Borseth</title>
		<ViewTransitions />
	</head>
	<body  class="h-screen w-screen flex flex-col gap-2 justify-center items-center px-4 text-center">
		<a href="/" class="text-3xl font-bold">Josh Borseth</a>
        <p transition:animate={fade({duration: 2000})}>just want a place holder for the domain lol</p>
	</body>
</html>


